# Virtual Environment
venv_3_11_syndrome_extraction_opt/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# But allow specific files in venv that we want to track
!venv_3_11_syndrome_extraction_opt/lib/python3.11/site-packages/color_code_stim/visualization.py
!venv_3_11_syndrome_extraction_opt/lib/python3.11/site-packages/color_code_stim/color_code.py
