pytest

testbook
nbformat


torch
torchvision
galois
cvxpy
pyqsp
jsonpickle
tensorboard
qiskit<2
qiskit-algorithms
qiskit-machine-learning
scikit-learn
numpy<2
openfermion
openfermionpyscf
networkx==2.8.8
